.DS_Store
.AppleDouble
.LSOverride
.idea
.ipynb_checkpoints
__pycache__/
.venv
outputs
wandb

# Ignore everything in data/ embedding_models/
data/*
embedding_models/*
# Except README.md
!data/README.md
!embedding_models/README.md